.section {
    padding-top: 2%;
    width: 100%;
    height: inherit;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;

    blockquote {
        font-style: italic;
        font-size: 1em;
        text-align: center;
        padding: 4em;
        opacity: 0.5;
    }
}